---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=<key>&location=chicago,il
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 15 Nov 2021 18:46:56 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"chicago,il"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Chicago","adminArea5Type":"City","adminArea4":"Cook
        County","adminArea4Type":"County","adminArea3":"IL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039507","unknownInput":"","type":"s","latLng":{"lat":41.883229,"lng":-87.632398},"displayLatLng":{"lat":41.883229,"lng":-87.632398},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<key>&type=map&size=225,160&locations=41.883229,-87.632398|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1423839281"}]}]}'
  recorded_at: Mon, 15 Nov 2021 18:46:56 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<appid>&lat=41.883229&lon=-87.632398&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.8832,"lon":-87.6324,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1637001997,"sunrise":1636980037,"sunset":1637015399,"temp":33.1,"feels_like":33.1,"pressure":1020,"humidity":70,"dew_point":25.27,"uvi":1.26,"clouds":90,"visibility":10000,"wind_speed":1.99,"wind_deg":247,"wind_gust":1.99,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13d"}],"snow":{"1h":0.34}},"minutely":[{"dt":1637002020,"precipitation":0.3353},{"dt":1637002080,"precipitation":0.3451},{"dt":1637002140,"precipitation":0.3549},{"dt":1637002200,"precipitation":0.3646},{"dt":1637002260,"precipitation":0.389},{"dt":1637002320,"precipitation":0.4133},{"dt":1637002380,"precipitation":0.4376},{"dt":1637002440,"precipitation":0.4619},{"dt":1637002500,"precipitation":0.4862},{"dt":1637002560,"precipitation":0.4732},{"dt":1637002620,"precipitation":0.4602},{"dt":1637002680,"precipitation":0.4471},{"dt":1637002740,"precipitation":0.4341},{[...]
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=relaxation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"95-g4sQTGksgcne7DJnVlu9G9xZ66Y"
    body:
      encoding: UTF-8
      string: '{"activity":"Write a list of things you are grateful for","type":"relaxation","participants":1,"price":0,"link":"","key":"2062010","accessibility":0}'
  recorded_at: Mon, 15 Nov 2021 18:46:59 GMT
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=cooking
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"96-UkxZxX6iv5TkIAEGIxDPVotA6w8"
    body:
      encoding: UTF-8
      string: '{"activity":"Create a cookbook with your favorite recipes","type":"cooking","participants":1,"price":0,"link":"","key":"1947449","accessibility":0.05}'
  recorded_at: Mon, 15 Nov 2021 18:47:01 GMT
recorded_with: VCR 5.1.0
