---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=<key>&location=miami,fl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 15 Nov 2021 18:55:13 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"miami,fl"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Miami","adminArea5Type":"City","adminArea4":"Miami-Dade","adminArea4Type":"County","adminArea3":"FL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040379","unknownInput":"","type":"s","latLng":{"lat":25.775084,"lng":-80.194702},"displayLatLng":{"lat":25.775084,"lng":-80.194702},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<key>&type=map&size=225,160&locations=25.775084,-80.194702|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-2001216393"}]}]}'
  recorded_at: Mon, 15 Nov 2021 18:55:13 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<appid>&lat=25.775084&lon=-80.194702&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":25.7751,"lon":-80.1947,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1637002513,"sunrise":1636976340,"sunset":1637015526,"temp":76.73,"feels_like":77.11,"pressure":1020,"humidity":64,"dew_point":63.64,"uvi":2.61,"clouds":100,"visibility":10000,"wind_speed":5.01,"wind_deg":22,"wind_gust":13,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"minutely":[{"dt":1637002560,"precipitation":0},{"dt":1637002620,"precipitation":0},{"dt":1637002680,"precipitation":0},{"dt":1637002740,"precipitation":0},{"dt":1637002800,"precipitation":0},{"dt":1637002860,"precipitation":0},{"dt":1637002920,"precipitation":0},{"dt":1637002980,"precipitation":0},{"dt":1637003040,"precipitation":0},{"dt":1637003100,"precipitation":0},{"dt":1637003160,"precipitation":0},{"dt":1637003220,"precipitation":0},{"dt":1637003280,"precipitation":0},{"dt":1637003340,"precipitation":0},{"dt":1637003400,"precipitati[...]
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=relaxation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"98-8+LAhZ6uX6bj9Q8cf+o37fiegDE"
    body:
      encoding: UTF-8
      string: '{"activity":"Give your pet ten minutes of focused attention","type":"relaxation","participants":1,"price":0,"link":"","key":"9937387","accessibility":0}'
  recorded_at: Mon, 15 Nov 2021 18:55:16 GMT
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=recreational
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8e-gBFc86GQpPCj0LxWxV2W1CxqCDs"
    body:
      encoding: UTF-8
      string: '{"activity":"Paint the first thing you see","type":"recreational","participants":1,"price":0.25,"link":"","key":"1162360","accessibility":0.2}'
  recorded_at: Mon, 15 Nov 2021 18:55:19 GMT
recorded_with: VCR 5.1.0
