---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=relaxation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9d-pjI0lpcEcnPAFs1XC7f5l9bp2X4"
    body:
      encoding: UTF-8
      string: '{"activity":"Go to the library and find an interesting book","type":"relaxation","participants":1,"price":0.05,"link":"","key":"8253550","accessibility":0.2}'
  recorded_at: Mon, 15 Nov 2021 16:30:17 GMT
recorded_with: VCR 5.1.0
